@{
    ViewBag.Title = "Home Page";
}

    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <div class="jumbotron text-center">
                <h1>Fishing App</h1>
                <p class="lead">Social Fishing App made for by a fisherman for fisherman.</p>
            </div>
        </div>
        <div class="col-md-offset-3">

            <img src="~/Images/musky3.JPG" />
            <img src="~/Images/dad.jpg" />
            <img src="~/Images/aj.jpg" />
            <img src="~/Images/musky5.jpg" />
        </div>
    </div>

